
<p-table #dt [value]="[0]">
    <ng-template pTemplate="header">
        <tr>
            <th>Brand Id</th>
            <th>Brand Name</th>
        </tr>
        <tr>
            <th>               
            </th>
            <th>
                <input pInputText type="text" [(ngModel)]="brandFilterText" class="form-control" id="brandFilterText"
                placeholder="Arama İfadesi" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
        <tr *ngFor="let brand of brands | brandFilter:brandFilterText">
            <td>{{ brand.brandId }}</td>
            <td>{{ brand.brandName }}</td>
            <td>
                <button pButton pRipple type="button" label="Güncelle"
                    class="p-button-outlined p-button-secondary"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

