<div class="p-col-12 p-md-4 p-offset-4 " style="position: absolute; bottom: 30%;">
    <p-panel header="Register">
        <form novalidate [formGroup]="registerForm">
            <div class="p-fluid">
                <div class="p-field p-col-12 p-md-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="p-float-label">
                            <input id="email" formControlName="email" type="email" pInputText />
                            <label for="email">Email</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input id="password" formControlName="password" type="password" pInputText />
                            <label for="password">Password</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="p-float-label">
                            <input id="firstName" formControlName="firstName" type="text" pInputText />
                            <label for="firstName">First Name</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="p-float-label">
                            <input id="lastName" formControlName="lastName" type="text" pInputText />
                            <label for="lastName">Last Name</label>
                        </span>
                    </div>
                </div>
                <div class="p-col-12">
                    <button class="p-button-secondary" pButton type="button" label="Register" (click)="register()"></button>
                </div>
            </div>
        </form>
    </p-panel>
</div>