<div class="card">
    <div class="p-grid" style="height: 50vh;">
        <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
            <div class="p-col-12 p-md-8">
                <p-panel header="Update User">
                    <form novalidate [formGroup]="userUpdateForm">
                        <div class="p-fluid">
                            <div class="p-field p-col-12 ">
                                <span class="p-float-label">
                                    <input type="email" formControlName="email" id="email" pInputText> 
                                    <label for="email">Email</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 ">
                                <span class="p-float-label">
                                    <input type="text" formControlName="firstName" id="firstName" pInputText> 
                                    <label for="firstName">First Name</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 ">
                                <span class="p-float-label">
                                    <input type="text" formControlName="lastName" id="lastName" pInputText> 
                                    <label for="lastName">Last Name</label>
                                </span>
                            </div>                        
                     
                            <div class="p-col-12">
                                <button class="p-button-secondary" pButton type="button" label="Save" (click)="updateUser()"></button>
                            </div>
                        </div>
                    </form>
                </p-panel>

                   
            </div>
        </div>
        <div class="p-col-2">
            <p-divider layout="vertical">
                <b>OR</b>
            </p-divider>
        </div>
        <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
            <div class="p-col-12 p-md-8">
                <p-panel header="Update Password">
                    <form novalidate [formGroup]="passwordUpdateForm">
                        <div class="p-fluid">
                            <div class="p-field p-col-12 ">
                                <span class="p-float-label">
                                    <input type="eMail" formControlName="email" id="eMail" pInputText> 
                                    <label for="eMail">Email</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 ">
                                <span class="p-float-label">
                                    <input type="password" formControlName="oldPassword" id="oldPassword" pInputText> 
                                    <label for="oldPassword">Old Password</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 ">
                                <span class="p-float-label">
                                    <input type="password" formControlName="newPassword" id="newPassword" pInputText> 
                                    <label for="newPassword">New Password</label>
                                </span>
                            </div>                        
                     
                            <div class="p-col-12">
                                <button class="p-button-secondary" pButton type="button" label="Save" (click)="updatePassword()"></button>
                            </div>
                        </div>
                    </form>  
                </p-panel>
                              
            </div>
                   
        </div>
    </div>
</div>