<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Payment Information
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter your card details
        </ng-template>
        <ng-template pTemplate="content">
            <form [formGroup]="creditCardForm">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12">
                        <label>Card Holder Name</label>
                        <input type="text" formControlName="fullName" required pInputText> 
                    </div>
                    <div class="p-field p-col-8">
                        <label id="number" for="lastname">Number</label>
                        <p-inputMask inputId="number" formControlName="cardNumber" mask="9999-9999-9999-9999" ></p-inputMask>
                    </div>
                    <div class="p-field p-col-2">
                        <label id="date" for="date">Date</label>
                        <p-inputMask inputId="date" formControlName="expiryDate" mask="99/99" ></p-inputMask>
                    </div>
                    <div class="p-field p-col-2">
                        <label for="cvv">CVV</label>
                        <p-inputMask id="cvv" formControlName="cvc" mask="999" ></p-inputMask>
                    </div>    
                    <div class="p-field-checkbox p-col-12">
                        <p-checkbox [formControl]="creditCardForm.controls['check']" id="remember" [(ngModel)]="checked"></p-checkbox>
                        <label for="remember" class="p-checkbox-label">Save credit card information for future</label>
                    </div>              
                </div>
            </form>      
              
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <!-- <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button> -->
                <p-button label="Save" (onClick)="addPayment()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>