<div class="card">
    <p-tabView [(activeIndex)]="activeIndex" (onChange)="tabChanges($event.index)">
        <p-tabPanel header="Cars List">
            <app-car (carDetail)="getCarDetail($event)"></app-car>
        </p-tabPanel>
        <p-tabPanel [disabled]="activeIndex==0" header={{detailHeader}}>
            <app-car-detail [car]="car"></app-car-detail>
        </p-tabPanel>

    </p-tabView>

    <p-dialog header="Rental Detail" [(visible)]="rentService.isShow" [contentStyle]="{'height':'100%'}"
        [style]="{'width': '80vh', 'height':'50vh'}" [breakpoints]="{'960px':'65vw', '640px':'98vw'}">
        <app-rental-detail></app-rental-detail>
    </p-dialog>

</div>