<div class="card">
    <!-- <div style="padding: .5em 0 1em 0">
        <p-button (click)="activeIndex = 0" styleClass="p-button-text" label="Activate 1rd"></p-button>
        <p-button (click)="activeIndex = 1" styleClass="p-button-text" label="Activate 2rd" [style]="{'margin-left': '.5em'}"></p-button>
        <p-button (click)="activeIndex = 2" styleClass="p-button-text" label="Activate 3rd" [style]="{'margin-left': '.5em'}"></p-button>
    </div> -->
    <p-tabView [(activeIndex)]="activeIndex" (onChange)="tabChanges($event.index)">
        <p-tabPanel header="Cars List">
            <app-car (carDetail)="getCarDetail($event)"></app-car>          
        </p-tabPanel>
        <p-tabPanel [disabled]="activeIndex==0" header={{detailHeader}}>
            <app-car-detail [car]="car"></app-car-detail>           
        </p-tabPanel>
    </p-tabView>
</div>
