
<p-table #dt [value]="cars">
    <ng-template pTemplate="header">
        <tr>
            <th>Brand</th>
            <th>Color</th>
            <th>ModelYear</th>
            <th>DailyPrice</th>
            <th>Description</th>
            <th>Return Date</th>
            <th>Detail</th>
        </tr>
        <tr>
            <th>
                <p-multiSelect [options]="brandOptions" placeholder="Seçiniz" (onChange)="dt.filter($event.value, 'brandText', 'in')"
                    [style]="{ width: '100%' }"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="colorOptions" placeholder="Seçiniz" (onChange)="dt.filter($event.value, 'colorText', 'in')"
                    [style]="{ width: '100%' }"></p-multiSelect>
            </th>
            <th></th>
            <th></th>
            <th>
                <p-columnFilter placeholder="Seçiniz" type="text" field="description" [showMenu]="false"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>{{ car.brandText }}</td>
            <td>{{ car.colorText }}</td>
            <td>{{ car.modelYear }}</td>
            <td>{{ car.dailyPrice }}</td>
            <td>{{ car.description }}</td>
            <td>
                <span *ngIf="car.isRented">{{car.returnDate}}</span>
                <button *ngIf="!car.isRented" pButton pRipple type="button" label="Rent"
                    class="p-button-outlined p-button-success"></button>
            </td>
            <td>
                <button (click)="getCarDetail(car)" pButton pRipple type="button" label="Detail"
                    class="p-button-outlined p-button-secondary"></button>
            </td>
        </tr>
    </ng-template>
</p-table>